@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz&display=swap');
@import url('https://fonts.googleapis.com/css?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text&display=swap');

*{
  outline:none;

}
button{
  font-family: 'Baloo Bhai', cursive;
}
  body {
  width: 100%;
  box-sizing: border-box;
  margin:0;
  padding:0;
  font-family: 'Crimson Text', serif;
}

li{
  list-style-type: none;

}
h1,h2,h3,h4{
ont-family: 'Baloo Bhai', cursive;
}
#head{
  height: 700px;
  background: linear-gradient(rgba(99,36,59, 0.4),rgba(142, 38, 72, 0.4)),url("st.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fffaf0;

}
.logo{
  color: #faebd7;
  font-size:120%;
  font-family: 'Caveat', cursive;
  padding: ;
  margin: -2% 0 0 1%;

}

.menu{
margin-top: -6%;
 }
 .menu li{
 float:right;
  display: inline-block;
  margin: 0;
 }

.menu li:last-child {
margin-right: 1%;

}
.menu button{
 background-color: #6e243b;
 border: 2px solid #8e2648;
 box-sizing: border-box;
 padding: 2%;
 transition: all 2s;
}

.menu button:hover, .menu button:active{
  background-color:#e96651;
}
.menu a{
  text-decoration: none;
  text-transform: uppercase;
  width: 35px;
  color: #fffaf0;
  font-weight:bold;

 }

 .intro{
  clear: both;
  text-align: center;
  padding: 15% 0;
}
 .intro button{
  display: inline-block;
  width: 18%;
  height: 25%;
  margin-top: 2%;
  padding:1%;
  box-shadow: 2px 2px 3px #000;
  text-align: center;
  border: 1px solid #faebd7;;
  border-radius: 1em;
  background-image: -webkit-linear-gradient(top left, #bab9b9, #8e2629);
  -webkit-transition-property: all;
  -webkit-transition-duration: 2s;
}
.intro button:hover,.intro button:active
{
  background-image: -webkit-linear-gradient(top left,  #8e2629, #bab9b9);
  border-radius: 2em;
  border: 2px solid #faebd7;;
}


.intro button a{
  text-decoration: none;
  color: #fffaf0;
  font-size: 120%;
}

 #features{
  width: 80%;
  height: 300px;
  color: #fff;
  text-align: center;
   padding: 0;
  margin: -5% auto 10% auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.feature-1{

  padding: 25% 5%;
  background-color: #6e243b;
}

.feature-2{
  padding:25% 5%;
  background-color: #8e2648;
}
.feature-3{
  padding: 25% 5%;
  background-color: #b02451;
}

#about{
  background-color: rgba(211,211,211,0.1);
box-sizing: border-box;
display: grid;
grid-template: repeat(8,1fr);
  width: 100%;
margin:  -9% 0 0 0;
padding: 0 2% 0 8%;
}
.about-text{
  grid-column: 1/6;
  padding:  12% 5% 0 5%;
  text-align:left;
  font-size: 110%;
   line-height: 170%;
}
.about-img{
  grid-column:7/9;
  grid-row: 1/-1;
}
.about-img img {
width: 90%;
object-fit: contain;
}

#courses{
  display: grid;
  box-sizing: border-box;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1%;
  text-align: center;
  margin: 0;
  padding:4%;
  background-color: rgba(186,185,185,0.1);
}

i{
  color:#6e243b;

  border-radius: 50%;

}

#courses button{
  grid-column: 1/-1;
  background-image: -webkit-linear-gradient(rgba(186, 185, 185, 1),rgba(142, 32, 72, 1));
  width: 15%;
  border: 1px solid #e96651;
  border-radius: 2em;
  padding: 1%;
  text-align: center;
  margin: 5% auto;
  transition: all 2s;
}

#courses button:hover,#courses button:active{
  background-image: -webkit-linear-gradient(rgba(142, 32, 72, 0.5),rgba(186, 185, 185, 0.5));
  }
#contact{
  display: grid;
  grid-template-columns: repeat(8,1fr);
  grid-gap: 4%;
  height: 90vh;
  background:linear-gradient(rgba(233, 102, 81, 0.2), rgba(233, 102, 81, 0.2)),url("ad.jpeg");
  padding-top:5%;
}
#contact .text{
  padding: 0 1% 0 3%;
  grid-column:1/4;
  width: 90%;
  text-align:left;
  color: #fff;

}

#contact .text p{
  font-size: 120%;
  line-height: 200%;
  padding-top: 3%;
}

#contact form{
  grid-column: 4/9;
  width: 90%;
}
#contact input,textarea{
  width: 80%;
  height: 8%;
  margin:3% auto;
  padding-left: 2%;
  transition-property: all;
  transition-duration: 2s;
}
#contact input:focus,textarea:focus{
  background-color:rgba(176,36,81,0.2);

  padding: 4% auto;
  border: 2px solid #fff;
  color: #fff;
}

textarea{
  resize: none;
  height: 19%;
}

#contact form button{
  width: 30%;
  height: 7%;
  font-weight: bold;
  border-radius: 1em;

  background-color: #6e243b;
  color: #fff;
  transition-property: all;
  transition-duration: 2s;
}
#contact form button:hover{
   background-color: #e96651;
}

#footer{
  background-color:#555;
  color: #fffaf0;
  padding: 7% 1%;
  margin: 0;
  text-align: center;
   box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
#footer i{
  color:#6e243b;

  border: 3px solid #bab9b9;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  padding: 3%;
  box-sizing:  ;
}


#footer li{
    margin-left:-45px;
  padding:2% 0;
}
.footer-div,.newsletter{
width: 90%;
}
#footer a{
  text-decoration: none;
  color:  #fff;
  font-weight: bold;
  text-align: center;
}
#footer a:hover,#footer a:active {
  text-decoration: underline;
}



 #footer h3{
margin: 0;
padding: 0;}



.newsletter input{
margin: 3% auto;
width:100%;
height:8%;
padding: 2%;
border:1px solid #6e243b;
transition-property: all;
transition-duration: 2s;
}

.newsletter input:focus{
  background-color:rgba(176,36,81,0.2);
  border: 2px solid #fff;
  color: #fff;
}
.newsletter button{
  border: 2px solid #fff;
  border-radius: 2em;
  padding:2% 3%;
  color: #fff;
  background-color: #6e243b;
  transition: all 2s;
}
.newsletter button:hover, .newsletter button:active{
  transform: scale(1.2,1.4);
  -m-transform: scale(1.2,1.4);
  -ms-transform: scale(1.2,1.4);
  -webkit-transform: scale(1.2,1.4);
  -o-transform: scale(1.2,1.4);
}

.social{
  border-top: 1px solid #fff;
  grid-column: 1/-1;
  padding-top: 5%;
  margin:5% 0;
}


@media (min-width:481px) and (max-width:768px)  {
  #head{
    height: 600px;
    background: linear-gradient(rgba(99,36,59, 0.4),rgba(142, 38, 72, 0.4)),url("st.jpeg");
  }

  .logo{
    font-size:100%;
    margin: -2% 0 0 1%;
}

  .menu{
  margin-top: -10%;
   }

   .menu li{
   float:right;
    display: block;
    margin: 0;
   }


  .menu button{
   display: block;
 }

  .menu a{
    width: 35px;
  }

.intro h1{
  width: 80%;
  padding-top: 10%;

  margin: 0 auto;
}
   .intro button{
    padding:2%;
  }


   #features{
    width: 90%;
    display: block;
    margin: -15% auto 10% auto;
  }

  .feature-1{

    padding:5%;
    background-color: #6e243b;
  }

  .feature-2{
    padding:5%;
    background-color: #8e2648;
  }
  .feature-3{
    padding:5%;
    background-color: #b02451;
  }

  #about{
    background-color:#fff;
  box-sizing: border-box;
  display:block;
   width: 100%;
   margin: 25% 0 0 0;
   padding:  0 5% ;
  font-size: 110%;
     line-height: 170%;
  }
  .about-text{
    text-align: center;
  }
  .about-img{
  display: none;
  }


  #courses{
    display: grid;
    box-sizing: border-box;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1%;
    text-align: center;
    margin: 0;
    padding:4%;
    background-color:  rgba(211,211,211,0.1);
  }



  #courses button{
    width: 25%;
  }


  #contact{
    height: 60vh;
  }

  #contact .text{
    padding: 0 1% 0 3%;
  }

  #contact .text p{
    font-size: 120%;
    line-height: 200%;
    padding-top: 3%;
  }

  #contact form{
    padding-top: 15%;
    width: 100%;
  }
  #contact input,textarea{
    width:90%;
    height: 8%;
  }

  #contact form button{
    margin-top: 10%;
    width: 30%;
    height: 7%;
    font-weight: bold;
    border-radius: 1em;
}

  #footer{
    background-color:#555;
    color: #fffaf0;
    padding: 7% 1%;
    margin: 0;
    text-align: center;
     box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(3,1fr);
  }
  #footer i{
    color:#6e243b;

    border: 3px solid #bab9b9;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    padding: 3%;
    box-sizing:  ;
  }


  #footer li{
      margin-left:-45px;
    padding:2% 0;
  }
  .footer-div,.newsletter{
  width: 90%;
  }
  #footer a{
    text-decoration: none;
    color:  #fff;
    font-weight: bold;
    text-align: center;
  }
  #footer a:hover,#footer a:active {
    text-decoration: underline;
  }



   #footer h3{
  margin: 0;
  padding: 0;}



  .newsletter input{
  margin: 3% auto;
  width:100%;
  height:8%;
  padding: 2%;
  border:1px solid #6e243b;
  transition-property: all;
  transition-duration: 2s;
  }

  .newsletter input:focus{
    background-color:rgba(176,36,81,0.2);
    border: 2px solid #fff;
    color: #fff;
  }
  .newsletter button{
    border: 2px solid #fff;
    border-radius: 2em;
    padding:2% 3%;
    color: #fff;
    background-color: #6e243b;
    transition: all 2s;
  }
  .newsletter button:hover, .newsletter button:active{
    transform: scale(1.2,1.4);
    -m-transform: scale(1.2,1.4);
    -ms-transform: scale(1.2,1.4);
    -webkit-transform: scale(1.2,1.4);
    -o-transform: scale(1.2,1.4);
  }

  .social{
    border-top: 1px solid #fff;
    grid-column: 1/-1;
    padding-top: 5%;
    margin:5% 0;
  }


}

@media(max-width:480px) {
  #head{
    height: 500px;
    background: linear-gradient(rgba(99,36,59, 0.4),rgba(142, 38, 72, 0.4)),url("st.jpeg");
  }

  .logo{
    font-size:70%;
    margin: -2% 0 0 1%;
}

  .menu{
  margin-top: -10%;
  float: right;

   }

   .menu li{
     display: none;
   float:none;
    margin:5% 0;
   }


.intro h1{
  width: 80%;
  padding-top: 10%;

  margin: 0 auto;
}
   .intro button{
     margin-top: 10%;
    padding:2%;
    width: 30%;
  }


   #features{
    width: 90%;
    display: block;
    margin: -15% auto 10% auto;
  }

  .feature-1{

    padding:5%;
    background-color: #6e243b;
  }

  .feature-2{
    padding:5%;
    background-color: #8e2648;
  }
  .feature-3{
    padding:5%;
    background-color: #b02451;
  }

  #about{
    background-color:#fff;
  box-sizing: border-box;
  display:block;
   width: 100%;
   margin: 35% 0 0 0;
   padding:  0 5% ;
  font-size: 100%;
     line-height: 120%;
  }
  .about-text{
    text-align: center;
  }
  .about-img{
  display: none;
  }


  #courses{
    display: grid;
    box-sizing: border-box;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1%;
    text-align: center;
    margin: 0;
    padding:4%;
    background-color:  rgba(211,211,211,0.1);
  }



  #courses button{
    width: 25%;
  }


  #contact{
    height: 80vh;
    display: block;
  }

  #contact .text{
    padding: 0 1% 0 3%;
  }

  #contact .text p{
    font-size: 100%;
    line-height: 120%;
    padding-top: 3%;
    text-align: center;
  }

  #contact form{
    margin: 0 auto;

    width: 90%;
  }
  #contact input,textarea{
    width:90%;
    padding: 5% 2%;

  }

  #contact form button{
    margin-top: 10%;
    width: 30%;
    height: 7%;
    font-weight: bold;
    border-radius: 1em;
}

  #footer{
    background-color:#555;
    color: #fffaf0;
    padding: 7% 1%;
    margin: 0;
    text-align: center;
     box-sizing: border-box;
    display: block;
  }


   .footer-div,.newsletter{
  width: 90%;
  margin:10% auto 0 auto;
  }

  .newsletter input{
  margin: 3% auto;
  width:80%;
  height:8%;
  padding: 2%;
}


  .social{
    border-top: 1px solid #fff;
    grid-column: 1/-1;
    padding-top: 5%;
    margin:5% 0;
  }


}




















/*  */
