 @import url('https://fonts.googleapis.com/css?family=Dosis&display=swap');
 @import url('https://fonts.googleapis.com/css?family=Crimson+Text&display=swap');
 @import url('https://fonts.googleapis.com/css?family=Tomorrow&display=swap');
*{
  outline:none;
}

button{
  font-family: 'Tomorrow', sans-serif;
}
  body {
  width: 100%;
  box-sizing: border-box;
  margin:0;
  padding:0;
  font-family: 'Crimson Text', serif;
}
hr{
  width: 12%;
  background-color: #b84030;
  height: 2px;
  text-align: center;
}

li{
  list-style-type: none;

}
h1,h2,h3,h4{
font-family: 'Dosis', sans-serif;
}

#head{
height: 5.8vh;
background-color: #dde2es;
margin-bottom:  ;

}
 .trigger{
   padding:2%;
   margin:3%;
   background-color: #fff;
 }
 .menu ul{
   margin-top:-3.7vh;
   display: none;
 }


 .menu li{
 text-align: left;
  display: inline-block;
  margin: 0;
  width: 12%;
}

 .menu a{
  text-decoration: none;
  text-transform: uppercase;
  width: 35px;
  color: #fffaf0;
  font-weight:bold;

 }

#intro{
  box-sizing: ;
  height:auto;
  padding-top: 25%;
  background: linear-gradient(rgba(184,64,48, 0.4),rgba(82, 86, 98, 0.4)),url("st.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fffaf0;
  clear: both;
  text-align: center;
}

#intro h1{
  width: 90%;
  margin:0 auto;

  line-height: 110%;
  text-transform: uppercase;
}

#intro button{
  display: inline-block;
  width: 18%;
  height: 6%;
  padding: 1%;
  margin-top: 3%;
  margin-bottom: 15%;
  box-shadow: 2px 2px 3px #000;
  text-align: center;
  border: 1px solid #faebd7;;
  border-radius: 1em;
  background-image: -webkit-linear-gradient(top left, #525662, #97a1aa ) ;
  -webkit-transition-property: all;
  -webkit-transition-duration: 2s;
}
#intro button:hover,#intro button:active
{
  background-image: -webkit-linear-gradient(top, #b84030, #df8271);
  border-radius: 2em;
  border: 2px solid #faebd7;;
}


#intro button a{
  text-decoration: none;
  color: #fffaf0;
  font-size: 120%;
}

 #features{
   box-sizing: border-box;
  width: 100%;
  height: 300px;
  color: #fff;
  text-align: center;
   padding: 5% 10% 4% 10%;
  margin:  0 auto 0 auto;

  background-color: rgba(184, 64, 48, 0.4);
}
#features p{
  line-height: 150%;
  font-size: 105%;
  margin: 0 auto;
  width: 90%;

  text-transform: none;
}


#about{
box-sizing: border-box;
 text-align:center;
font-size: 110%;
 line-height: 150%;
 padding:2%;
}

#about h2{

  text-transform: uppercase;
padding-bottom: 1%;
  text-align: left;

}
 #about p{
   box-sizing: border-box;
   text-align: left;
   width: 100%;
   margin: 0 auto;
   padding-left: 7%;

 }

 #start{
   height:auto;
   background-color: rgba(180, 186, 190, 0.1);
   padding: 3% 10%;
   box-sizing: border-box;
 }

  #start h2{

text-transform: uppercase;
    text-align: center;
  }
  .start-img{
    width: 30%;
    float:left ;
    padding : 4% 0 0 0;
  }
  .start-img img{
    width: 100%;
    height: auto;
    border-radius: 3%;
  }
  .steps-parent{
    padding-top: 5%;
    float: right;
    width: 60%;
      margin-bottom: 6%;
  }

  .steps{

    display: grid;
    grid-template-columns: repeat(5,1fr);

  }

 .num{
   width: 30px;
   height: 30px;
   line-height: 30px;
   text-align: center;
   color: #553637;
   font-size: 200%;
   border: 3px solid #df8271;
   padding:2%;

   margin-right: 2%;
   border-radius: 50%;
   grid-column:1/2;
   }


 .text{
font-size: 120%;
line-height:70px;
 grid-column: 2/6;
}

#start button{
 display: block;
 clear: both;
 float: none;
 font-weight: bold;
 background-color:#b84030;
 color: #fff;
 width: 15%;
  padding: 1% 0;
 border: none;
 border-radius: 5em;
 margin: 0 0 0 50%;
 transition: all 1s;
 }


  #start button:hover,  #start button:active{
    transform: translate(13px, 8px);
    -webkit-transform: translate(13px, 8px);
  }

 #campuses{
   clear: both;
   box-sizing: border-box;
 display: grid;
 padding: 2% 5%;
 margin: 0;

grid-template-columns: repeat(4,1fr);
}
#campuses h2{
  text-transform: uppercase;
  grid-column: 1/-1;
  text-align: center;
  color:  ;
}
#campuses hr{
  grid-column: 1/-1;
}

.campus{
  background-color: #fff;
  margin: 1%;
  padding:5% 3%;
  line-height: 120%;

}
.campus img{
  width: 100%;
  border-radius: 3%;
}
.campus h3{
  text-transform: uppercase;
  color: #b84030;
}
.campus i{
  width: 20px;
  padding-right: 1%;
  color: #df8271;
}
#testimonials{
  height:auto;
  background-color: rgba(180, 186, 190, 0.1);
  padding: 5% 10%;
  color: #000;
}
#testimonials h2{
  text-align: center;
  text-transform: uppercase;
}

.slider h3{
  text-transform: capitalize;
  font-weight: bold;
  color: #b82030;
}
.slider span{
  display: block;
  color:  ;

  text-transform: capitalize;
}
.slide{
    border: 1px solid #333333;
    padding: 2% 5%;
    text-align: center;
    line-height: 120%;
}
.slider-indicator{
  width: 100%;
  margin: 1% auto;
  text-align: center;
}
.slider-indicator img{
  width: 5%;
  height: auto;
   padding-top: 0;
  margin:0 1%;
  border: 3px solid #fff;
border-radius:50%;
}

  #contact{
  clear: both;
  display: grid;
  grid-template-columns: repeat(8,1fr);
  grid-gap: 4%;
  height: auto;
  background:linear-gradient(rgba(82, 86, 98, 0.2), rgba(223, 130, 113, 0.3)),url("ad.jpeg");
  padding:5% 0;
}
#contact .text{

  box-sizing: border-box;
  grid-column:1/4;
  width: 90%;
  text-align:left;
  color: #fff;

}

#contact .text p{
  font-size: 110%;
  padding-left: 1%;
  line-height: 200%;

}

#contact form{
  grid-column: 4/9;
  width: 90%;
  margin-top: 5%;
}
#contact input,textarea{
  width: 80%;
  height: 8%;
  margin:3% auto;
  padding:2% 1%;
  transition-property: all;
  transition-duration: 2s;
}
#contact input:focus,textarea:focus{
  background-color:rgba(176,36,81,0.2);

  padding: 4% auto;
  border: 2px solid #fff;
  color: #fff;
}

textarea{
  padding: 8% 2%;
  resize: none;
  height: 25%;
}

#contact form button{
  width: 30%;
  height: 7%;
  font-weight: bold;
  border-radius: 1em;
  padding: 2% 1%;
  margin-left: 50%;
  background-color: #b84030;
  color: #fff;
  transition-property: all;
  transition-duration: 2s;
}
#contact form button:hover{
   background-color: #df8271;
}

#footer{
  background-color:#525662;
  color: #fffaf0;
  padding: 7% 1%;
  margin: 0;
  text-align: center;
   box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
#footer i{
  color:#dde2e5;

  border: 3px solid #b84030;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  padding: 1%;
  box-sizing:  ;
}


#footer li{
    margin-left:-45px;
  padding:2% 0;
}
.footer-div,.newsletter{
width: 90%;
}
#footer a{
  text-decoration: underline;
  color:  #fff;
  font-weight: bold;
  text-align: center;
}
#footer a:hover,#footer a:active {
  text-decoration: none;
}


 #footer h3{
margin: 0;
padding: 0;}



.newsletter input{
margin: 3% auto;
width:100%;
height:8%;
padding: 2%;
border:1px solid #6e243b;
transition-property: all;
transition-duration: 2s;
}

.newsletter input:focus{
  background-color:rgba(221,226,229,0.1);
  border: 2px solid #fff;
  color: #fff;
}
.newsletter button{
  border: 2px solid #fff;
  border-radius: 2em;
  padding:2% 3%;
  color: #fff;
  background-color: #df8271;
  transition: all 2s;
}
.newsletter button:hover, .newsletter button:active{
  transform: scale(1.2,1.4);
  -m-transform: scale(1.2,1.4);
  -ms-transform: scale(1.2,1.4);
  -webkit-transform: scale(1.2,1.4);
  -o-transform: scale(1.2,1.4);
}

.social{
  border-top: 1px solid #fff;
  grid-column: 1/-1;
  padding-top: 2%;
  margin:5% 0 0 0;
}


@media (min-width:481px) and (max-width:768px)  {
  #head{
    margin-top: -3%;
  height:5vh;
}

  .menu{
  margin-top:0;
  }

   .menu li{
   float:right;
    display: none;
    margin: 0;
    width: 12%;
  }

  .menu li:last-child {
  margin-right: 5px;

  }
  .menu button{
    box-sizing: border-box;
    font-size: 100%;
   border:none;
   transition: all 2s;
  }

  .menu button:hover, .menu button:active{
    border-bottom:2px solid #8e2648;
  }
  .menu a{
    width: 35px;
  }

  #intro{
    height:800px;
    padding: 35% 0 0 0;
   }
  #intro button{
    width: 23%;
    height: 15%;
  }

   #features{
    width: 80%;
    height:auto;
    color: #fff;

    margin: -15% auto 0 auto;
    display: block;
}
  .feature-1{
    line-height: 120%;
    padding: 10% 5%;
    background-color: #371005;
  }

  .feature-2{
    line-height: 120%;
    padding: 10% 5%;
    background-color: #593440;
  }
  .feature-3{
    line-height: 120%;
    padding: 10% 5%;
    background-color: #706073;
  }


    #start-img{
      width: 38%;
      margin-top: 20%;
      padding : 20% 0 0 0;

    }
    #start-img img{
      margin-top: 20%;
    }

   #start button{
   display: block;
   clear: both;
   float: none;
   width: 20%;
    padding:2%;
   margin: 15% auto 1% auto;
   }

  #testimonials{

    background-color: rgba(180, 186, 190, 0.1);
    padding: 5% 10%;
    color: #000;
  }

  .slider-indicator img{
    width: 7%;
}

    #contact{

    padding-top:5%;
  }


  #contact form{
    margin-top: 45%;
    width: 100%;
  }
  #contact input,textarea{
    width: 90%;
    height: 8%;
    margin:3% auto;
  }

#contact textarea{
  height: 20%;
}
#contact button{
  margin-top: 10%;
}
  #footer{
    background-color:#706073;

    padding: 7% 1%;
    margin: 0;
    display: block;
  }

  #footer i{
  border: 3px solid #bab9b9;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    padding: 3%;
  }
  #footer li{
      margin-left:-45px;
    padding:2% 0;
  }
  .footer-div,.newsletter{
  width: 70%;
  margin: 5% auto;
  }

   #footer h3{

  margin: 0;
  padding: 0;}



  .newsletter input{
  margin: 3% auto;
  width:70%;
  height:8%;
  padding: 2%;
}


  .social{
    border-top: 1px solid #fff;
    grid-column: 1/-1;
    padding-top: 2%;
    margin:5% 0 0 0;
  }


}
@media(max-width:480px) {
  #head{
    margin-top: -3%;
  height:7vh;
}

  .menu{
  margin-top:0;
  }

   .menu li{
   float:right;
    display: none;
    margin: 0;
    width: 12%;
  }

  .menu li:last-child {
  margin-right: 5px;

  }
  .menu button{
    box-sizing: border-box;
    font-size: 100%;
   border:none;
   transition: all 2s;
  }

  .menu button:hover, .menu button:active{
    border-bottom:2px solid #8e2648;
  }
  .menu a{
    width: 35px;
  }

  #intro{

    height:auto;
    padding-top: 50%;
  }

  #intro h1{
    width: 90%;
    margin:0 auto;

    line-height: 110%;
  }
  #intro button{
    display: inline-block;
    width: 28%;
    height: 8%;
    padding: 2%;
    margin-top: 5%;
    margin-bottom: 35%;
  }

   #features{

    height: auto;

     padding: 5% 5% 8% 5%;
   }
  #features p{
    line-height: 120%;
  }



  #about h2{

    text-align:center;
}

   #about p{
     box-sizing: border-box;
     text-align:center;
     width: 100%;
     margin: 0 auto;
     padding-left: 0;
}

  #start{

    padding: 10% 5%;
  }
#start h2{
  font-size: 90%;
}

   .start-img{
     width: 55%;
     float:none ;
     padding :0;
     margin: 0 auto;
   }

   .steps-parent{
     padding-top: 5%;
     float: none;
     width:100%;
       margin-bottom: 6%;
   }


  .text{
  font-size: 100%;
  line-height:70px;
  grid-column: 2/6;
  }

  #start button{

  width: 35%;
  padding: 4%;
}

   #campuses{
     clear: both;
   display: block;
   padding: 2% 5%;
   margin: 0;

   grid-template-columns: repeat(4,1fr);
   }

   #campuses h2{
    font-size:;
   }

   .campus{
    background-color: #fff;
    margin: 1%;
    padding:5% 3%;
    line-height: 120%;

   }
   .campus img{
    width: 100%;
    border-radius: 3%;
   }

  #testimonials{

    background-color: rgba(180, 186, 190, 0.1);
    padding: 5% 10%;
    color: #000;
  }

  .slider-indicator img{
    width: 17%;
}

#contact{
 display: block;
 padding :5% 0;
 margin: 0 auto;
}
#contact .text{
 width: 90%;
 padding-left: 10%;

text-align:center;
line-height: 120%;
}

#contact .text p{
  text-align: center;
font-size: 100%;
margin: 0 auto;
}

#contact form{
 margin: 0 auto;
width: 80%;
padding-left: 5%;
}

#contact input,textarea{
width: 90%;
height: 10%;
margin:3% auto;
 padding: 4% 2%;
}

textarea{
resize: none;
height: 25%;
padding: 8% 2%;
}

#contact form button{
width: 30%;
display: block;
margin: 0 0 0 55%;
padding: 4%;
text-align: center;
height: 7%;
}
   #footer{
    background-color:#706073;

    padding: 7% 1%;
    margin: 0;
    display: block;
  }

  #footer i{
  border: 3px solid #bab9b9;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    padding: 3%;
  }
  #footer li{
      margin-left:-45px;
    padding:2% 0;
  }
  .footer-div,.newsletter{
  width: 70%;
  margin: 10% auto;
  }

   #footer h3{

  margin: 0;
  padding: 0;}



  .newsletter input{
  margin: 3% auto;
  width:80%;
  height:9%;
  padding: 2%;
}


  .social{
    border-top: 1px solid #fff;
    grid-column: 1/-1;
    padding-top: 2%;
    margin:5% 0 0 0;
  }



}




















/*  */
